In [1]:
import geopy
import geopandas
import pandas as pd

In [2]:
from geopy.geocoders import nominatim
locator = nominatim.Nominatim(user_agent="store_address")

In [11]:
location = locator.geocode ('2008 W VIEW POINT RD')
print(location.address)
print("Latitute = {}, Longitude = {}".format(location.latitude,location.longitude))

View Point Rd, View Point Road, West Moonah, Hobart, City of Glenorchy, Tasmania, 7009, Australia
Latitute = -42.8422175, Longitude = 147.2797232

In [277]:
df = pd.read_csv("Locations.csv")
df.head()

,LocationId,LocationCode,LocationType,ShortName,LongName,AllowSourcing,Address1,Address2,City,State,...,DistrictCode,DistrictName,DistrictShortName,TimeZone,Telephone,Active,DateCompAvailable,SquareFeet,DateOpened,DateClosed
0,1,900,4,Stores W,Stores Warehouse,1,11251 Beech Avenue,Suite #200,Fontana,CA,...,95.0,Warehouse,Warehouse,NaN,NaN,1,1900-01-01 00:00:00,0.0,2007-01-01 00:00:00,1900-01-01 00:00:00
1,2,1,2,0001Orng,Orange,1,606 W.Katella Avenue,NaN,Orange,CA,...,2.0,Eric Bowden,Eric Bowden,NaN,714-538-2668,1,2006-04-03 00:00:00,10798.0,2006-04-02 00:00:00,1900-01-01 00:00:00
2,3,2,2,Oxnard,Oxnard,1,431 W Esplanade Drive,NaN,Oxnard,CA,...,6.0,Stacy Flores,Stacy Flores,NaN,805-485-4572,1,2006-04-03 00:00:00,9059.0,2006-04-02 00:00:00,1900-01-01 00:00:00
3,4,3,2,Upland,Upland,1,1414 W 7th Street,NaN,Upland,CA,...,6.0,Stacy Flores,Stacy Flores,NaN,909-920-3222,1,2006-04-03 00:00:00,7405.0,2006-04-02 00:00:00,1900-01-01 00:00:00
4,5,4,2,San Bern,San Bernardino,1,464 E Redlands Boulevard,NaN,San Bernardino,CA,...,2.0,Eric Bowden,Eric Bowden,NaN,909-890-1124,1,2006-04-03 00:00:00,11578.0,2006-04-02 00:00:00,1900-01-01 00:00:00

In [278]:
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
## delay geocoding 1 second between each address as service provider may deny access to the service if we are geocoding a large number of physical addresses

In [279]:
full_addresses = []

for i in range(len(df)):
    address = []
    suite_location = df['Address1'].iloc[i].find('Suite')
    if suite_location == -1:
        address.append(df['Address1'].iloc[i])
    else:
        address1 = df['Address1'].iloc[i][0:suite_location].strip()
        address.append(address1)
    address.append(df['City'].iloc[i])
    address.append(df['State'].iloc[i])
    address = [str(s) for s in address]
    address = ','.join(address)
    full_addresses.append(address)  
df['Full Address'] = full_addresses

In [280]:
df['Full Address'].iloc[13]

'27250 Madison Avenue,Temecula,CA'

In [200]:
from geopy.exc import GeocoderTimedOut

In [201]:
#df['storelocation'] = df['Full Address'].apply(locator.geocode)
store_loc = df['Full Address'].apply(geocode, timeout=300)

In [202]:
store_loc

0      (Beech Avenue, Fontana, San Bernardino County,...
1      (606, West Katella Avenue, Orange, Orange Coun...
2      (431, West Esplanade Drive, El Rio, Oxnard, Ve...
3      (1414, West 7th Street, Upland, San Bernardino...
4      (464, East Redlands Boulevard, Redlands, San B...
                             ...
475    (Beech Avenue, Fontana, San Bernardino County,...
476    (Beech Avenue, Fontana, San Bernardino County,...
477    (Beech Avenue, Fontana, San Bernardino County,...
478                                                 None
479    (Beech Avenue, Fontana, San Bernardino County,...
Name: Full Address, Length: 480, dtype: object

In [203]:
latitude = []

for i in range(len(store_loc)):
    if store_loc.iloc[i] is not None:
        latitude.append(store_loc.iloc[i].latitude) 
    else:
        latitude.append(None)
df["Store_latitude"] = latitude

In [204]:
longitude = []

for i in range(len(store_loc)):
    if store_loc.iloc[i] is not None:
        longitude.append(store_loc.iloc[i].longitude) 
    else:
        longitude.append(None)

df["Store_longitude"] = longitude

In [210]:
df.head(5)

,LocationId,LocationCode,LocationType,ShortName,LongName,AllowSourcing,Address1,Address2,City,State,...,TimeZone,Telephone,Active,DateCompAvailable,SquareFeet,DateOpened,DateClosed,Full Address,Store_latitude,Store_longitude
0,1,900,4,Stores W,Stores Warehouse,1,11251 Beech Avenue,Suite #200,Fontana,CA,...,NaN,NaN,1,1900-01-01 00:00:00,0.0,2007-01-01 00:00:00,1900-01-01 00:00:00,"11251 Beech Avenue,Fontana,CA",34.150423,-117.475088
1,2,1,2,0001Orng,Orange,1,606 W.Katella Avenue,NaN,Orange,CA,...,NaN,714-538-2668,1,2006-04-03 00:00:00,10798.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"606 W.Katella Avenue,Orange,CA",33.808954,-117.857274
2,3,2,2,Oxnard,Oxnard,1,431 W Esplanade Drive,NaN,Oxnard,CA,...,NaN,805-485-4572,1,2006-04-03 00:00:00,9059.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"431 W Esplanade Drive,Oxnard,CA",34.235323,-119.178463
3,4,3,2,Upland,Upland,1,1414 W 7th Street,NaN,Upland,CA,...,NaN,909-920-3222,1,2006-04-03 00:00:00,7405.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"1414 W 7th Street,Upland,CA",34.088674,-117.675933
4,5,4,2,San Bern,San Bernardino,1,464 E Redlands Boulevard,NaN,San Bernardino,CA,...,NaN,909-890-1124,1,2006-04-03 00:00:00,11578.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"464 E Redlands Boulevard,San Bernardino,CA",34.056987,-117.177662
5,6,5,2,Canyon C,Canyon Country,1,27564 Sierra Highway,NaN,Canyon Country,CA,...,NaN,661-251-0888,1,2006-04-03 00:00:00,8736.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"27564 Sierra Highway,Canyon Country,CA",34.410618,-118.458786
6,7,6,2,Riversid,Riverside,1,3396 Tyler Street,Suite B,Riverside,CA,...,NaN,951-354-9200,1,2006-04-03 00:00:00,7774.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"3396 Tyler Street,Riverside,CA",33.905532,-117.456246
7,8,7,2,Torrance,Torrance,1,18420 Hawthorne Boulevard,NaN,Torrance,CA,...,NaN,310-214-8555,1,2006-04-03 00:00:00,5870.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"18420 Hawthorne Boulevard,Torrance,CA",33.863648,-118.352353
8,9,8,2,Lake For,Lake Forest,1,23762 Mercury Road,Suite B,Lake Forest,CA,...,NaN,949-455-0211,1,2006-04-03 00:00:00,9311.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"23762 Mercury Road,Lake Forest,CA",33.623944,-117.715548
9,10,9,2,San Dima,San Dimas,1,659 W Arrow Highway,NaN,San Dimas,CA,...,NaN,909-599-1955,1,2006-04-03 00:00:00,6869.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"659 W Arrow Highway,San Dimas,CA",34.103875,-117.816955
10,11,10,2,Oceansid,Oceanside,1,2305 Vista Way,NaN,Oceanside,CA,...,NaN,760-757-1392,1,2006-04-03 00:00:00,3918.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"2305 Vista Way,Oceanside,CA",33.183136,-117.336456
11,12,11,2,El Cajon,El Cajon,1,853 Arnele Avenue,NaN,El Cajon,CA,...,NaN,619-441-8111,1,2006-04-03 00:00:00,10000.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"853 Arnele Avenue,El Cajon,CA",32.803769,-116.972473
12,13,12,2,Kearny M,Kearny Mesa,1,4411 Mercury Street,Suite 101A,San Diego,CA,...,NaN,858-571-5741,1,2006-04-03 00:00:00,7429.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"4411 Mercury Street,San Diego,CA",32.820314,-117.148627
13,14,13,2,Temecula,Temecula,1,27250 Madison Avenue,Suite B,Temecula,CA,...,NaN,951-296-6500,1,2006-04-03 00:00:00,10223.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"27250 Madison Avenue,Temecula,CA",NaN,NaN
14,15,14,2,Victorvi,Victorville,1,13785 Park Avenue,Suite H,Victorville,CA,...,NaN,760-241-3361,1,2006-04-03 00:00:00,7920.0,2006-04-02 00:00:00,1900-01-01 00:00:00,"13785 Park Avenue,Victorville,CA",34.501260,-117.326593

In [252]:
## Python script for batch geocoding of addresses using the Google Geocoding API
import requests
import logging
import time

In [253]:
logger = logging.getLogger("root")
logger.setLevel(logging.DEBUG)
#create console handler
ch = logging.StreamHandler()
ch.setLevel(logging.DEBUG)
logger.addHandler(ch)

In [272]:
# Set Google API key. the daily limit will be 2500.
# With a "Google Maps Geocoding API" key from https://console.developers.google.com/apis/
# Example: API_KEY = 'AIzaSyC9azed9tLdjpZNjg2_kVePWvMIBq154eA'
API_KEY = 'apply for your own API Key'
BACKOFF_TIME = 30
output_filename = 'Locations_output.csv'
input_filename = 'Locations.csv'
address_column_name = "Address1"
RETURN_FULL_RESULTS = False

In [273]:
df1 = pd.read_csv("Locations.csv")

if address_column_name not in df1.columns:
    raise ValueError("Missing Address column in input data")

In [274]:
## Set up Geocoding url
def get_google_results(address, api_key=None, return_full_response=False):
    params = {
        'address': address,
        'key': api_key
    }
    geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?"
    print(geocode_url)
    results = requests.get(geocode_url, params=params)
    results = results.json()

## if there is no results or an error, return empty results
    if len(results['results']) == 0:
        output = {
            "formatted_address":None,
            "latitude":None,
            "longitude":None,
            "accuracy":None,
            "google_place_id":None,
            "type":None,
            "postcode":None
        }
    else:    
        answer = results['results'][0]
        output = {
            "formatted_address" : answer.get('formatted_address'),
            "latitude": answer.get('geometry').get('location').get('lat'),
            "longitude": answer.get('geometry').get('location').get('lng'),
            "accuracy": answer.get('geometry').get('location_type'),
            "google_place_id": answer.get("place_id"),
            "type": ",".join(answer.get('types')),
            "postcode": ",".join([x['long_name'] for x in answer.get('address_components') 
                                  if 'postal_code' in x.get('types')])
        }
    ##append some other details
    output['input_string'] = address
    output['number_of_results'] = len(results['results'])
    output['status'] = results.get('status')
    if return_full_response is True:
        output['response'] = results
    
    return output

In [275]:
test_result = get_google_results("27250 Madison Avenue,Temecula,CA", API_KEY, RETURN_FULL_RESULTS)
if test_result['status'] != 'OK':
    logger.warning("There was an error when testing the Google Geocoder.")
    raise ConnectionError('Problem with test results from Google Geocode - check your API key and internet connection.')
test_result

Starting new HTTPS connection (1): maps.googleapis.com:443
Starting new HTTPS connection (1): maps.googleapis.com:443
Starting new HTTPS connection (1): maps.googleapis.com:443

https://maps.googleapis.com/maps/api/geocode/json?

https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=27250+Madison+Avenue%2CTemecula%2CCA&key=AIzaSyBdnlA1PSMN1N9ZBbTZNVbWKA-52v5wScg HTTP/1.1" 200 None
https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=27250+Madison+Avenue%2CTemecula%2CCA&key=AIzaSyBdnlA1PSMN1N9ZBbTZNVbWKA-52v5wScg HTTP/1.1" 200 None
https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=27250+Madison+Avenue%2CTemecula%2CCA&key=AIzaSyBdnlA1PSMN1N9ZBbTZNVbWKA-52v5wScg HTTP/1.1" 200 None

{'formatted_address': '27250 Madison Ave, Temecula, CA 92590, USA',
 'latitude': 33.5271927,
 'longitude': -117.1671735,
 'accuracy': 'ROOFTOP',
 'google_place_id': 'ChIJIbR6zhh-24ARjW42dMiNLXY',
 'type': 'premise',
 'postcode': '92590',
 'input_string': '27250 Madison Avenue,Temecula,CA',
 'number_of_results': 1,
 'status': 'OK'}

In [265]:
test_result

{'formatted_address': '606 W Katella Ave, Orange, CA 92867, USA',
 'latitude': 33.8087029,
 'longitude': -117.8585436,
 'accuracy': 'ROOFTOP',
 'google_place_id': 'ChIJjSz7eWnX3IARdd_ani_Y_Zs',
 'type': 'street_address',
 'postcode': '92867',
 'input_string': '606 W Katella Ave, Orange, CA 92867',
 'number_of_results': 1,
 'status': 'OK'}

In [2]:
# use geocoder at https://github.com/DenisCarriere/geocoder/tree/master/geocoder
import geocoder
from geocoder.api import get, yahoo, bing, geonames, mapquest, google, mapbox
from geocoder.api import nokia, osm, tomtom, geolytica, arcgis, opencage, locationiq

In [15]:
g=geocoder.arcgis('27250 Madison Avenue')
g.json
latitude = print(g.json['lat'])
longitude = print(g.json['lng'])

46.35614000000004
12.144700000000057